@font-face {
    font-family: Roboto;
    src: url(../../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../../../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Oregano;
    src: url(../../../fonts/Oregano-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../../../fonts/Roboto-Bold.ttf);
}

.container-main{
    width: 68%;
    margin: 0 auto;
}


body{
    font-family: Roboto;
}
#header-top{
    height: 34px;
    background-color: #010F1C;
    .left-side{
        display: flex;
        height: 34px;
        align-items: center;
        p{
            font-size: 13px;
            opacity: 0.8;
            font-weight: 500;
            color: white;
            margin: 0;
            padding-left: 10px;
        }
    }

    .right-side{
        width: 100%;
        height: 34px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            height: 100%;
            li{
                height: 100%;
                display: flex;
                padding: 3px 14px 4px 18px;
                border-right: 1px solid rgba(255, 255, 255, .2);
                font-size: 13px;
                a{
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: white;
                    text-decoration: none;
                    i{
                        color: white;
                    }
                }
                .menu{
                    transition: all 0.5s;
                    position: absolute;
                    margin-top: 31px;
                    z-index: -1;
                    opacity: 0;
                    ul{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        background-color: white;
                        padding: 10px 15px;
                        box-shadow: 0 1px 3px #03041c1f;
                        li{
                            padding: 0;
                            line-height: 30px;
                            a{
                                height: auto;
                                color: #010F1C;
                                transition: 0.5s;
                                &:hover{
                                    color: #0989FF;
                                }
                            }
                        }
                    }
                }
                .menu-down{
                    animation: drop-down 1s;
                    opacity: 1;
                    z-index: 4;
                    display: block;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
        }
    }



}


#header-mid{
    .logo{
        height: 104px;
        display: flex;
        align-items: center;
    }
    .search-area{
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
        .content{
            display: flex;
            align-items: center;
            width: 556px;
            height: 50px;
            border: 2px solid #0989FF;
            input{
                font-size: 14px;
                border: none;
                padding: 0 25px;
                height: 100%;
                width: 320px;
                position: relative;
                outline: none;
            }
            .selection{
                width: 170px;
                cursor: pointer;
                padding: 0 20px 0 18px;
                position: relative;
                a{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 14px;
                    text-decoration: none;
                    color: #010F1C;
                    i{  
                        transition: 0.1s;
                        margin-left: 10px;
                        margin-top: 2px;
                    }
                    .rotate{
                        transform: rotate(180deg);
                    }
                }
                .menu{
                    transition: all 0.5s;
                    position: absolute;
                    margin-top: 20px;
                    z-index: -1;
                    opacity: 0;
                    ul{
                        border-radius: 5px;
                        line-height: 40px;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        flex-direction: column;
                        list-style: none;
                        background-color: white;
                        box-shadow: 0 1px 3px #03041c1f;
                        li{
                            font-size: 14px;
                            padding: 0;
                            line-height: 40px;
                            padding-left: 18px;
                            padding-right: 29px;
                            text-align: left;
                            a{
                                height: auto;
                                color: #010F1C;
                                transition: 0.5s;
                                &:hover{
                                    color: #0989FF;
                                }
                            }
                            &:nth-child(1){
                                font-weight: 600;
                            }
                        }
                    }
                }
                .menu-down{
                    animation: drop-down 1s;
                    opacity: 1;
                    z-index: 4;
                    display: block;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
            .search-icon{
                width: 61px;
                height: 100%;
                background-color: #0989FF;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
            }
            .line{
                width: 1px;
                height: 20px;
                background-color: #010f1c4d;
            } 
        }
    }
    .account{
        width: 100%;
        height: 104px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding-left: 60px;
            .login-icon{
                width: 44px;
                height: 44px;
                border: 2px solid #010f1c1a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .content{
                p{
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    &:nth-child(1){
                        font-size: 12px;
                        color: #767A7D;
                    }

                    &:nth-child(2){
                        font-size: 14px;
                        color: #010F1C;
                    }
                }
            }
        }
    }
    .actions{
        width: 100%;
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wishlist{
            position: relative;
            text-decoration: none;
            color: #010F1C;
            span{
                color: white;
                position: absolute;
                top: -6px;
                right: -13px;
                width: 23px;
                height: 23px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                display: flex;
                justify-content: center;  
                align-items: center;
                font-size: 12px;
                border: 2px solid white;
                font-weight: 600;
            }
            img{
                &:hover{
                    filter: saturate(10);
                }
            }
        }

        .cart{
            position: relative;
            text-decoration: none;
            span{
                color: white;
                position: absolute;
                top: -6px;
                right: -13px;
                width: 23px;
                height: 23px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                display: flex;
                justify-content: center;  
                align-items: center;
                border: 2px solid white;
                font-size: 12px;
                font-weight: 600;

            }
        }
    }
}



#header-bottom{
    .nav{
        position: relative;
    }
    border-top: 1px solid #010f1c1a;
    height: 51px;
    .all-categories{
        position: relative;
        width: 100%;
        height: 51px;
        display: flex;
        align-items: center;
        background-color: #0989FF;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 14px;
        transition: 0.3s;
        cursor: pointer;
        color: white;
        img{
            margin-right: 15px;
        }
        span{
            margin-right: 110px;
        }

        &:hover{
            background-color: #010F1C;
        }

        .categories{
            position: absolute;
            left: 0;
            background-color: white;
            z-index: 1;
            width: 100%;
            top: 50px;
            box-shadow: 0 1px 3px #010f1c1a;    
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    padding: 13px 30px 12px 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                    a{
                        transition: 0.5s;
                        text-decoration: none;
                        color: #55585b;
                        font-size: 15px;
                    }
                    i{
                        transition: 0.5s;
                        color: #010F1C;
                        font-size: 12px;
                    }
                    border-bottom: 1px solid #EAEBED;
                    &:hover{
                        a{
                            color: #0989FF;
                        }
                        i{
                            color: #0989FF;
                        }
                    }   
                }
            }
        }
    }

    .navbar{
        height: 51px;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            gap: 33px;
            padding: 0;
            margin: 0;
            li{
                a{
                    text-decoration: none;
                    color: #010F1C;
                    font-size: 14px;
                    font-weight: 600;
                    transition: 0.5s;
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: #0989FF;
                    }
                    i{
                        padding-left: 5px;
                    }
                }
            }
        }

    }

    .submenu{
        width: 100%;
        position: absolute;
        z-index: 6;
        padding: 25px 40px 0;
        font-family: Jost;
        a{
            text-decoration: none;
            color: #010F1C;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            flex-direction: column;
            line-height: 34px;
            li{
                padding: 0;
                margin-bottom: 9px;
                a{
                    text-decoration: none;
                    font-size: 14px;
                    color: #55585b;
                    padding: 3px 0;
                    transition: 0.5s;
                    &:hover{
                        color: #0989FF;
                    }
                }
            }
        }
    }

    .submenu-show{
        animation: open-submenu 1s;
        transform-origin: top;
        display: block;
    }

    .submenu-close{
        animation: close-submenu 1s;
        transform-origin: top;
    }

    @keyframes open-submenu {
        from{
            transform: scaleY(0)
        }
        to{
            transform: scaleY(1)
        }
    }


    @keyframes close-submenu {
        from{
            transform: scaleY(1)
        }
        to{
            transform: scaleY(0)
        }
    }


    .contact{
        height: 51px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        line-height: 15px;
        p{
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 600;
            color: #767A7D;
        }
        a{
            text-decoration: none;
            color: #010F1C;
            font-size: 14px;
            transition: 0.5s;
            font-weight: 600;
            &:hover{
                color: #0989FF;
            }
        }
    }
}



#slider-area{
    background-color: #115061;
    height: 516px;
    display: flex;
    align-items: center;
    position: relative;
    .content-area{
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        span{
            font-size: 16px;
            animation-name: fadeUp;
            animation-fill-mode: both;
            animation-delay: .3s;
            animation-duration: 1s;
        }
        h1{
            font-size: 56px;
            font-family: RobotoBold;
            line-height: 1.07;
            width: 526px;
            font-weight: 900;
            animation-name: fadeUp;
            animation-fill-mode: both;
            animation-delay: .5s;
            animation-duration: 1s;
        }
        p{
            font-family: Oregano;
            position: relative;
            font-size: 28px;
            margin-bottom: 40px;
            animation-name: fadeUp;
            animation-fill-mode: both;
            animation-delay: .7s;
            animation-duration: 1s;
            span{
                font-size: 28px;
                color: #FFD43A;
            }
            img{
                left: 115px;
                bottom: -15px;
                position: absolute;
            }
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            width: 145px;
            height: 46px;
            border-radius: 6px;
            background-color: white;
            text-decoration: none;
            color: #010F1C;
            border: 1px solid white;
            padding: 9px 29px;
            transition: 0.5s;
            font-size: 14px;
            animation-delay: .9s;
            animation-duration: 1s;
            img{
                position: relative;
                padding-left: 4px;
            }

            &:hover{
                background: transparent;
                color: white;
                border-color: #fff3;
                img{
                    filter: invert(100%);
                }
            }
        }

    }

    .active-slider{
        display: flex;
        span{
            animation-name: fadeUp;
            animation-fill-mode: both;
        }
        h1{
            animation-name: fadeUp;
            animation-fill-mode: both;
        }
        p{
            animation-name: fadeUp;
            animation-fill-mode: both;
        }
        a{
            animation-name: fadeUp;
            animation-fill-mode: both;
        }
    }

    .third{
        p{
            span{
                color: #FD4B6B;
            }
        }
        a{
            &:hover{
                background: #0989FF;
                color: white;
                border-color: #0989FF;
                img{
                    filter: invert(100%);
                }
            }
        }
    }


    .image{
        width: 100%;
        display: none;
        justify-content: flex-end;
        animation-delay: .9s;
        animation-duration: 1s;
        img{
            position: relative;
            z-index: 6;
        }
    }

    .active-slider-image{
        display: flex;
        animation-name: fadeRight;
        animation-fill-mode: both;
    }

    img{
        position: absolute;
    }

    .shape1{
        top: 0;
        right: 0;
        z-index: 0;
        opacity: 0.1;
        mix-blend-mode: luminosity;
    }
    
    .shape2{
        top: 8%;
        right: 33%;
    }
    
    .shape3{
        top: 30%;
        left: 6%;
    }
    .controllers{
        a{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center ;
            border: 1px solid #010f1c1a;
            border-color: #fff3;
            border-radius: 50%;
            color: white;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: all .3s 0s ease-out;
            &:hover{
                background-color: white;
                border-color: white;
                img{
                    filter: invert(100%);
                }
            }
        }
        .left{
            left: 40px;
            top: 50%;
        }
        .right{
            right: 40px;
            top: 50%;
        }
    }

    .pagination{
        display: flex;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%);
        .dot{
            cursor: pointer;
            margin: 0 4px;
            width: 10px;
            height: 10px;
            background-color: #fff3;
            border-radius: 50%;
        }
        .active-dot{
            background-color: white;
        }
    }

    &:hover{
        .controllers{
            a{
                visibility: visible;
                opacity: 1;
            }
            .left{
                animation: fromleft 1s;
            }
            .right{
                animation: fromright 1s;
            }
        }
    }

    @keyframes fromleft {
        from{
            transform: translateX(-30px);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes fromright {
        from{
            transform: translateX(30px);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes fadeUp{
        0%{
            opacity: 0;
            transform: translateY(20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fadeRight{
        0%{
            opacity: 0;
            transform: translate(20px);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }


}



#product-categories{
    padding-top: 60px;
    padding-bottom: 15px;
    .product-category{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            width: 180px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 16px;
            img{
                transition: 0.5s;
            }

            background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }

        h6{
            width: 100%;
            font-size: 20px;
            margin: 0;
            text-align: center;
            font-family: RobotoBold;
        }
        span{
            font-size: 14px;

        }
    }
}

.right-side-menu{
    position: fixed;
    overflow: scroll;
    visibility: hidden;
    top: 0;
    right: 0;
    z-index: 10;
    width: 380px;
    height: 100%;
    padding: 20px;
    background-color: white;
    .close{
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .icon{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ececec;
        }
    }
    .all-categories{
        position: relative;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0989FF;
        padding: 10px 20px;
        font-size: 16px;
        transition: 0.3s;
        font-family: Jost;
        cursor: pointer;
        color: white;
        span{
            display: flex;
            align-items: center;
            i{
                margin-right: 10px;
            }
        }

        &:hover{
            background-color: #010F1C;
        }
    }

    .categories{
        width: 100%;
        margin-top: 10px;
        top: 50px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                padding: 13px 30px 12px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                a{
                    transition: 0.5s;
                    text-decoration: none;
                    color: #55585b;
                    font-size: 15px;
                }
                i{
                    transition: 0.5s;
                    color: #010F1C;
                    font-size: 12px;
                }
                border-bottom: 1px solid #EAEBED;
                &:hover{
                    a{
                        color: #0989FF;
                    }
                    i{
                        color: #0989FF;
                    }
                }   
            }
        }
    }

    .navbar{
        padding-top: 40px;
        ul{
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding: 10px 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    color: #55585b;
                    font-family: Jost;
                }
                .icon{
                    width: 30px;
                    height: 30px;
                    border: 1px solid #010f1c1f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        filter: invert(100%);
                    }
                }
            }
        }
    }

    .contact-us{
        margin-top: 40px;
        width: 100%;
        padding: 0 20px;
        a{
            padding: 11px 30px;
            font-size: 14px;
            border: 2px solid #04092d1a;
            border-radius: 6px;
            text-decoration: none;
            color: #010F1C;
            font-family: RobotoBold;
        }
    }
}

.opened{
    visibility: visible;
    animation: menu-open 0.5s;
}

.closed{
    transition: 0.5s;
    transform: translateX(381px);
}

@keyframes menu-open{
    from{
        transform: translateX(381px);
    }
    to{
        transform: translateX(0);
    }
}



#features{
    padding-top: 50px;
    .item{
        width: 100%;
        display: flex;
        padding: 29px 40px 25px;
        background-color: #F6F7F9;
        .content{
            padding-left: 10px;
            h6{
                font-family: RobotoBold;
                font-size: 16px;
                margin: 0;
            }
            span{
                font-size: 14px;
                color: #55585b;
            }
        }
    }
}


#products{
    padding-top: 70px;
    .header{
        h1{
            position: relative;
            width: 100%;
            font-size: 36px;
            font-family: RobotoBold;
        }
        img{
            bottom: -12px;
            left: 0;
            z-index: -1;
            position: absolute;
        }
    }

    .tab-categories{
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        ul{
            list-style: none;
            display: flex;
            li{
                a{
                    margin-right: 47px;
                    font-size: 20px;
                    color: #A0A2A4;
                    text-decoration: none;
                    position: relative;
                    img{
                        display: none;
                        position: absolute;
                        left: 0;
                        bottom: -13px;
                    }
                }
                .active{
                    color: #010F1C;
                    img{
                        display: block;
                    }
                }
            }
        }
    }

    .product{
        width: 100%;
        background-color: white;
        border: 1px solid #EAEBED;
        border-radius: 8px;
        transition: 0.5s;
        .image{
            width: 100%;
            position: relative;
            z-index: 5;
            overflow: hidden;
            img{
                width: 100%;
                transition: 0.5s;
            }

            .out-stock{
                position: absolute;
                top: 16px;
                right: 20px;
                span{
                    padding: 4px 8px 2px;
                    font-size: 14px;
                    background-color: #FD2D6C;
                    border-radius: 4px;
                    font-family: RobotoBold;
                    color: white;
                }
            }

            .product-action{
                position: absolute;
                right: -20px;
                transition: all .3s 0s ease-out;
                opacity: 0;
                z-index: 1;
                visibility: hidden;
                bottom: 25px;
                ul{
                    list-style: none;
                    li{
                        a{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 1px 3px #010f1c24;
                            background-color: white;
                            transition: 0.5s;
                            position: relative;
                            img{
                                width: auto;
                            }

                            .tooltip-text{
                                position: absolute;
                                visibility: hidden;
                                opacity: 0;
                                width: max-content;
                                font-size: 12px;
                                background-color: black;
                                color: #fff;
                                text-align: center;
                                border-radius: 4px;
                                padding: 4px 6px;
                                z-index: 1;
                                top: 50%;
                                right: 100%;
                                line-height: 1;
                                transform: translateY(-50%);
                                transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71,1.7,.77,1.24);

                                &::after{
                                    content: " ";
                                    position: absolute;
                                    top: 50%;
                                    left: 100%;
                                    margin-top: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent transparent transparent black;
                                }
                            }

                            &:hover{
                                background-color: #0989FF;
                                img{
                                    filter: invert(100%);
                                }

                                .tooltip-text{
                                    visibility: visible;
                                    opacity: 1;
                                    transform: translate(-8px) translateY(-50%);
                                }
                            }
                        }

                        .active-wishlist{
                            background-color: #0989FF;
                            img{
                                filter: invert(100%);
                            }
                        }

                        &:nth-child(2){
                            a{
                                &:hover{
                                    background-color: #010F1C;
                                    img{
                                        filter: invert(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:hover{
                .product-action{
                    right: 20px;
                    visibility: visible;
                    opacity: 1;
                }
            }

        }

        .content{
            border-top: 1px solid #EAEBED;
            padding: 10px 30px 20px;
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
            }
            .card-product-category{
                font-size: 12px;
                color: #55585b;
                padding-bottom: 3px;
            }

            .product-name{
                font-size: 15px;
                font-family: RobotoBold;
                color:#010F1C;
                padding-bottom: 7px;
            }

            .user-ratings{
                i{
                    font-size: 13px;
                    color: #FFB21D;
                }
                span{
                    font-size: 12px;
                    color: #55585b;
                }
            }

            .price{
                padding-top: 7px;
                .old-price{
                    font-size: 12px;
                    color: #55585b;
                    text-decoration: line-through;
                }

                .new-price{
                    font-size: 15px;
                    color: #0989FF;
                    font-family: RobotoBold;
                }
            }
        }

        &:hover{
            .image{
                img{
                    transform: scale(1.1);
                }
            }
            .product-action{
                img{
                    transform: none;
                }
            }
            box-shadow: 0 4px 10px #010f1c24;
        }
    }
}


@media only screen and (max-width: 768px){
    .container-main{
        width: 95%;
    }

    #header-mid{
        height: 65px;
        .logo{
            height: 65px;

        }
        .actions{
            padding-right: 11px;
            .bars{
                padding-left: 19px;
            }
            height: 65px;
            justify-content: flex-end;
        }
    }

    #slider-area{
        height: 100%;
        .content-area{
            margin-top: 50px;
            span{
                font-size: 16px;
            }
            h1{
                font-size: 37px;
                width: 100%;
            }
            p{
                font-size: 28px;
            }
        }

        .image{
            width: 100%;
            margin-top: 50px;
            img{
                width: 400px;
                object-fit: contain;
            }
        }
    }
}



@media only screen and (min-width: 768px) and (max-width: 1440px){
    .container-main{
        width: 95%;
    }
}