@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Jost;
  src: url(../../../fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oregano;
  src: url(../../../fonts/Oregano-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../../fonts/Roboto-Bold.ttf);
}
.container-main {
  width: 68%;
  margin: 0 auto;
}

body {
  font-family: Roboto;
}

#header-top {
  height: 34px;
  background-color: #010F1C;
}
#header-top .left-side {
  display: flex;
  height: 34px;
  align-items: center;
}
#header-top .left-side p {
  font-size: 13px;
  opacity: 0.8;
  font-weight: 500;
  color: white;
  margin: 0;
  padding-left: 10px;
}
#header-top .right-side {
  width: 100%;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
#header-top .right-side ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}
#header-top .right-side ul li {
  height: 100%;
  display: flex;
  padding: 3px 14px 4px 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 13px;
}
#header-top .right-side ul li a {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
}
#header-top .right-side ul li a i {
  color: white;
}
#header-top .right-side ul li .menu {
  transition: all 0.5s;
  position: absolute;
  margin-top: 31px;
  z-index: -1;
  opacity: 0;
}
#header-top .right-side ul li .menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  padding: 10px 15px;
  box-shadow: 0 1px 3px rgba(3, 4, 28, 0.1215686275);
}
#header-top .right-side ul li .menu ul li {
  padding: 0;
  line-height: 30px;
}
#header-top .right-side ul li .menu ul li a {
  height: auto;
  color: #010F1C;
  transition: 0.5s;
}
#header-top .right-side ul li .menu ul li a:hover {
  color: #0989FF;
}
#header-top .right-side ul li .menu-down {
  animation: drop-down 1s;
  opacity: 1;
  z-index: 4;
  display: block;
}
@keyframes drop-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header-mid .logo {
  height: 104px;
  display: flex;
  align-items: center;
}
#header-mid .search-area {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}
#header-mid .search-area .content {
  display: flex;
  align-items: center;
  width: 556px;
  height: 50px;
  border: 2px solid #0989FF;
}
#header-mid .search-area .content input {
  font-size: 14px;
  border: none;
  padding: 0 25px;
  height: 100%;
  width: 320px;
  position: relative;
  outline: none;
}
#header-mid .search-area .content .selection {
  width: 170px;
  cursor: pointer;
  padding: 0 20px 0 18px;
  position: relative;
}
#header-mid .search-area .content .selection a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  text-decoration: none;
  color: #010F1C;
}
#header-mid .search-area .content .selection a i {
  transition: 0.1s;
  margin-left: 10px;
  margin-top: 2px;
}
#header-mid .search-area .content .selection a .rotate {
  transform: rotate(180deg);
}
#header-mid .search-area .content .selection .menu {
  transition: all 0.5s;
  position: absolute;
  margin-top: 20px;
  z-index: -1;
  opacity: 0;
}
#header-mid .search-area .content .selection .menu ul {
  border-radius: 5px;
  line-height: 40px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style: none;
  background-color: white;
  box-shadow: 0 1px 3px rgba(3, 4, 28, 0.1215686275);
}
#header-mid .search-area .content .selection .menu ul li {
  font-size: 14px;
  padding: 0;
  line-height: 40px;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
}
#header-mid .search-area .content .selection .menu ul li a {
  height: auto;
  color: #010F1C;
  transition: 0.5s;
}
#header-mid .search-area .content .selection .menu ul li a:hover {
  color: #0989FF;
}
#header-mid .search-area .content .selection .menu ul li:nth-child(1) {
  font-weight: 600;
}
#header-mid .search-area .content .selection .menu-down {
  animation: drop-down 1s;
  opacity: 1;
  z-index: 4;
  display: block;
}
@keyframes drop-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header-mid .search-area .content .search-icon {
  width: 61px;
  height: 100%;
  background-color: #0989FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
#header-mid .search-area .content .line {
  width: 1px;
  height: 20px;
  background-color: rgba(1, 15, 28, 0.3019607843);
}
#header-mid .account {
  width: 100%;
  height: 104px;
}
#header-mid .account a {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 60px;
}
#header-mid .account a .login-icon {
  width: 44px;
  height: 44px;
  border: 2px solid rgba(1, 15, 28, 0.1019607843);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-mid .account a .content p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
#header-mid .account a .content p:nth-child(1) {
  font-size: 12px;
  color: #767A7D;
}
#header-mid .account a .content p:nth-child(2) {
  font-size: 14px;
  color: #010F1C;
}
#header-mid .actions {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-mid .actions .wishlist {
  position: relative;
  text-decoration: none;
  color: #010F1C;
}
#header-mid .actions .wishlist span {
  color: white;
  position: absolute;
  top: -6px;
  right: -13px;
  width: 23px;
  height: 23px;
  z-index: 1;
  background-color: #FD4B6B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px solid white;
  font-weight: 600;
}
#header-mid .actions .wishlist img:hover {
  filter: saturate(10);
}
#header-mid .actions .cart {
  position: relative;
  text-decoration: none;
}
#header-mid .actions .cart span {
  color: white;
  position: absolute;
  top: -6px;
  right: -13px;
  width: 23px;
  height: 23px;
  z-index: 1;
  background-color: #FD4B6B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 12px;
  font-weight: 600;
}

#header-bottom {
  border-top: 1px solid rgba(1, 15, 28, 0.1019607843);
  height: 51px;
}
#header-bottom .nav {
  position: relative;
}
#header-bottom .all-categories {
  position: relative;
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  background-color: #0989FF;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
#header-bottom .all-categories img {
  margin-right: 15px;
}
#header-bottom .all-categories span {
  margin-right: 110px;
}
#header-bottom .all-categories:hover {
  background-color: #010F1C;
}
#header-bottom .all-categories .categories {
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  top: 50px;
  box-shadow: 0 1px 3px rgba(1, 15, 28, 0.1019607843);
}
#header-bottom .all-categories .categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#header-bottom .all-categories .categories ul li {
  padding: 13px 30px 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEBED;
}
#header-bottom .all-categories .categories ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
#header-bottom .all-categories .categories ul li a {
  transition: 0.5s;
  text-decoration: none;
  color: #55585b;
  font-size: 15px;
}
#header-bottom .all-categories .categories ul li i {
  transition: 0.5s;
  color: #010F1C;
  font-size: 12px;
}
#header-bottom .all-categories .categories ul li:hover a {
  color: #0989FF;
}
#header-bottom .all-categories .categories ul li:hover i {
  color: #0989FF;
}
#header-bottom .navbar {
  height: 51px;
  display: flex;
  align-items: center;
}
#header-bottom .navbar ul {
  display: flex;
  list-style: none;
  gap: 33px;
  padding: 0;
  margin: 0;
}
#header-bottom .navbar ul li a {
  text-decoration: none;
  color: #010F1C;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
#header-bottom .navbar ul li a:hover {
  color: #0989FF;
}
#header-bottom .navbar ul li a i {
  padding-left: 5px;
}
#header-bottom .submenu {
  width: 100%;
  position: absolute;
  z-index: 6;
  padding: 25px 40px 0;
  font-family: Jost;
}
#header-bottom .submenu a {
  text-decoration: none;
  color: #010F1C;
}
#header-bottom .submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  line-height: 34px;
}
#header-bottom .submenu ul li {
  padding: 0;
  margin-bottom: 9px;
}
#header-bottom .submenu ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #55585b;
  padding: 3px 0;
  transition: 0.5s;
}
#header-bottom .submenu ul li a:hover {
  color: #0989FF;
}
#header-bottom .submenu-show {
  animation: open-submenu 1s;
  transform-origin: top;
  display: block;
}
#header-bottom .submenu-close {
  animation: close-submenu 1s;
  transform-origin: top;
}
@keyframes open-submenu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes close-submenu {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
#header-bottom .contact {
  height: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  line-height: 15px;
}
#header-bottom .contact p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  color: #767A7D;
}
#header-bottom .contact a {
  text-decoration: none;
  color: #010F1C;
  font-size: 14px;
  transition: 0.5s;
  font-weight: 600;
}
#header-bottom .contact a:hover {
  color: #0989FF;
}

#slider-area {
  background-color: #115061;
  height: 516px;
  display: flex;
  align-items: center;
  position: relative;
}
#slider-area .content-area {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
#slider-area .content-area span {
  font-size: 16px;
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-duration: 1s;
}
#slider-area .content-area h1 {
  font-size: 56px;
  font-family: RobotoBold;
  line-height: 1.07;
  width: 526px;
  font-weight: 900;
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  animation-duration: 1s;
}
#slider-area .content-area p {
  font-family: Oregano;
  position: relative;
  font-size: 28px;
  margin-bottom: 40px;
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-delay: 0.7s;
  animation-duration: 1s;
}
#slider-area .content-area p span {
  font-size: 28px;
  color: #FFD43A;
}
#slider-area .content-area p img {
  left: 115px;
  bottom: -15px;
  position: absolute;
}
#slider-area .content-area a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 145px;
  height: 46px;
  border-radius: 6px;
  background-color: white;
  text-decoration: none;
  color: #010F1C;
  border: 1px solid white;
  padding: 9px 29px;
  transition: 0.5s;
  font-size: 14px;
  animation-delay: 0.9s;
  animation-duration: 1s;
}
#slider-area .content-area a img {
  position: relative;
  padding-left: 4px;
}
#slider-area .content-area a:hover {
  background: transparent;
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}
#slider-area .content-area a:hover img {
  filter: invert(100%);
}
#slider-area .active-slider {
  display: flex;
}
#slider-area .active-slider span {
  animation-name: fadeUp;
  animation-fill-mode: both;
}
#slider-area .active-slider h1 {
  animation-name: fadeUp;
  animation-fill-mode: both;
}
#slider-area .active-slider p {
  animation-name: fadeUp;
  animation-fill-mode: both;
}
#slider-area .active-slider a {
  animation-name: fadeUp;
  animation-fill-mode: both;
}
#slider-area .third p span {
  color: #FD4B6B;
}
#slider-area .third a:hover {
  background: #0989FF;
  color: white;
  border-color: #0989FF;
}
#slider-area .third a:hover img {
  filter: invert(100%);
}
#slider-area .image {
  width: 100%;
  display: none;
  justify-content: flex-end;
  animation-delay: 0.9s;
  animation-duration: 1s;
}
#slider-area .image img {
  position: relative;
  z-index: 6;
}
#slider-area .active-slider-image {
  display: flex;
  animation-name: fadeRight;
  animation-fill-mode: both;
}
#slider-area img {
  position: absolute;
}
#slider-area .shape1 {
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.1;
  mix-blend-mode: luminosity;
}
#slider-area .shape2 {
  top: 8%;
  right: 33%;
}
#slider-area .shape3 {
  top: 30%;
  left: 6%;
}
#slider-area .controllers a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(1, 15, 28, 0.1019607843);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: white;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s 0s ease-out;
}
#slider-area .controllers a:hover {
  background-color: white;
  border-color: white;
}
#slider-area .controllers a:hover img {
  filter: invert(100%);
}
#slider-area .controllers .left {
  left: 40px;
  top: 50%;
}
#slider-area .controllers .right {
  right: 40px;
  top: 50%;
}
#slider-area .pagination {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
}
#slider-area .pagination .dot {
  cursor: pointer;
  margin: 0 4px;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
#slider-area .pagination .active-dot {
  background-color: white;
}
#slider-area:hover .controllers a {
  visibility: visible;
  opacity: 1;
}
#slider-area:hover .controllers .left {
  animation: fromleft 1s;
}
#slider-area:hover .controllers .right {
  animation: fromright 1s;
}
@keyframes fromleft {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#product-categories {
  padding-top: 60px;
  padding-bottom: 15px;
}
#product-categories .product-category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#product-categories .product-category a {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 16px;
  background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);
}
#product-categories .product-category a img {
  transition: 0.5s;
}
#product-categories .product-category a:hover img {
  transform: scale(1.1);
}
#product-categories .product-category h6 {
  width: 100%;
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-family: RobotoBold;
}
#product-categories .product-category span {
  font-size: 14px;
}

.right-side-menu {
  position: fixed;
  overflow: scroll;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 10;
  width: 380px;
  height: 100%;
  padding: 20px;
  background-color: white;
}
.right-side-menu .close {
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.right-side-menu .close .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}
.right-side-menu .all-categories {
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0989FF;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.3s;
  font-family: Jost;
  cursor: pointer;
  color: white;
}
.right-side-menu .all-categories span {
  display: flex;
  align-items: center;
}
.right-side-menu .all-categories span i {
  margin-right: 10px;
}
.right-side-menu .all-categories:hover {
  background-color: #010F1C;
}
.right-side-menu .categories {
  width: 100%;
  margin-top: 10px;
  top: 50px;
}
.right-side-menu .categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.right-side-menu .categories ul li {
  padding: 13px 30px 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEBED;
}
.right-side-menu .categories ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.right-side-menu .categories ul li a {
  transition: 0.5s;
  text-decoration: none;
  color: #55585b;
  font-size: 15px;
}
.right-side-menu .categories ul li i {
  transition: 0.5s;
  color: #010F1C;
  font-size: 12px;
}
.right-side-menu .categories ul li:hover a {
  color: #0989FF;
}
.right-side-menu .categories ul li:hover i {
  color: #0989FF;
}
.right-side-menu .navbar {
  padding-top: 40px;
}
.right-side-menu .navbar ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.right-side-menu .navbar ul li {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.right-side-menu .navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #55585b;
  font-family: Jost;
}
.right-side-menu .navbar ul li .icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(1, 15, 28, 0.1215686275);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side-menu .navbar ul li .icon img {
  filter: invert(100%);
}
.right-side-menu .contact-us {
  margin-top: 40px;
  width: 100%;
  padding: 0 20px;
}
.right-side-menu .contact-us a {
  padding: 11px 30px;
  font-size: 14px;
  border: 2px solid rgba(4, 9, 45, 0.1019607843);
  border-radius: 6px;
  text-decoration: none;
  color: #010F1C;
  font-family: RobotoBold;
}

.opened {
  visibility: visible;
  animation: menu-open 0.5s;
}

.closed {
  transition: 0.5s;
  transform: translateX(381px);
}

@keyframes menu-open {
  from {
    transform: translateX(381px);
  }
  to {
    transform: translateX(0);
  }
}
#features {
  padding-top: 50px;
}
#features .item {
  width: 100%;
  display: flex;
  padding: 29px 40px 25px;
  background-color: #F6F7F9;
}
#features .item .content {
  padding-left: 10px;
}
#features .item .content h6 {
  font-family: RobotoBold;
  font-size: 16px;
  margin: 0;
}
#features .item .content span {
  font-size: 14px;
  color: #55585b;
}

#products {
  padding-top: 70px;
}
#products .header h1 {
  position: relative;
  width: 100%;
  font-size: 36px;
  font-family: RobotoBold;
}
#products .header img {
  bottom: -12px;
  left: 0;
  z-index: -1;
  position: absolute;
}
#products .tab-categories {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#products .tab-categories ul {
  list-style: none;
  display: flex;
}
#products .tab-categories ul li a {
  margin-right: 47px;
  font-size: 20px;
  color: #A0A2A4;
  text-decoration: none;
  position: relative;
}
#products .tab-categories ul li a img {
  display: none;
  position: absolute;
  left: 0;
  bottom: -13px;
}
#products .tab-categories ul li .active {
  color: #010F1C;
}
#products .tab-categories ul li .active img {
  display: block;
}
#products .product {
  width: 100%;
  background-color: white;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  transition: 0.5s;
}
#products .product .image {
  width: 100%;
  position: relative;
}
#products .product .image img {
  width: 100%;
  transition: 0.5s;
}
#products .product .image .product-action {
  position: absolute;
  right: 20px;
  bottom: 25px;
}
#products .product .image .product-action ul {
  list-style: none;
}
#products .product .image .product-action ul li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(1, 15, 28, 0.1411764706);
  background-color: white;
}
#products .product .image .product-action ul li a img {
  width: auto;
}
#products .product .content {
  border-top: 1px solid #EAEBED;
  padding: 10px 30px 20px;
  display: flex;
  flex-direction: column;
}
#products .product .content a {
  text-decoration: none;
}
#products .product .content .card-product-category {
  font-size: 12px;
  color: #55585b;
  padding-bottom: 3px;
}
#products .product .content .product-name {
  font-size: 15px;
  font-family: RobotoBold;
  color: #010F1C;
  padding-bottom: 7px;
}
#products .product .content .user-ratings i {
  font-size: 13px;
  color: #FFB21D;
}
#products .product .content .user-ratings span {
  font-size: 12px;
  color: #55585b;
}
#products .product .content .price {
  padding-top: 7px;
}
#products .product .content .price .old-price {
  font-size: 12px;
  color: #55585b;
  text-decoration: line-through;
}
#products .product .content .price .new-price {
  font-size: 15px;
  color: #0989FF;
  font-family: RobotoBold;
}
#products .product:hover {
  box-shadow: 0 4px 10px rgba(1, 15, 28, 0.1411764706);
}
#products .product:hover .image img {
  transform: scale(1.1);
}
#products .product:hover .product-action img {
  transform: none;
}

@media only screen and (max-width: 768px) {
  .container-main {
    width: 95%;
  }
  #header-mid {
    height: 65px;
  }
  #header-mid .logo {
    height: 65px;
  }
  #header-mid .actions {
    padding-right: 11px;
    height: 65px;
    justify-content: flex-end;
  }
  #header-mid .actions .bars {
    padding-left: 19px;
  }
  #slider-area {
    height: 100%;
  }
  #slider-area .content-area {
    margin-top: 50px;
  }
  #slider-area .content-area span {
    font-size: 16px;
  }
  #slider-area .content-area h1 {
    font-size: 37px;
    width: 100%;
  }
  #slider-area .content-area p {
    font-size: 28px;
  }
  #slider-area .image {
    width: 100%;
    margin-top: 50px;
  }
  #slider-area .image img {
    width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container-main {
    width: 95%;
  }
}/*# sourceMappingURL=home.css.map */